/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
h1 {
    
    font-family: 'Lato', sans-serif;
    text-align:center;
    text-transform:capitalize;
    font-weight:bold;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    text-align:center;
}

.thought1 {
    font-family: 'Lobster Two', cursive;
    background-color:#c0c0c0;
    padding:10px;
    line-height: 2.5rem;
    word-spacing: 0.3rem;
}

.thought2 {
    font-family: 'Pacifico', cursive;
    background-color:lightgray;
    padding:10px;
    line-height: 2.5rem;
    word-spacing: 0.3rem;
}

.thought3 {
    font-family: 'Trocchi', serif;
    background-color:#c0c0c0;
    padding:10px;
    line-height: 2.5rem;
    word-spacing: 0.3rem;
}

.container {
    width:100%;
    margin: 0 auto;
    padding:10px;
    color:#000000;
    background-color:whitesmoke;
}

.wrapper {
    width:70%;
    margin:0 auto;
    padding:10px;
    margin-top:20px;
    margin-bottom:10px;
}

body {
    margin:0;
    padding:0;
}